<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Donors</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_view.css') }}">
    <script>
        function confirmDelete(username) {
            if (confirm("Are you sure to remove this donor from the list?")) {
                var form = document.createElement('form');
                form.method = 'POST';
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'username';
                input.value = username;
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</head>
<body>
    <div id="page_wrapper">
        {% include 'admin_navbar.html' %}


        <main>
            <header>
                <div class="text">
                    <h2 class="head_tran"><span>USER LIST</span></h2>
                    <p class="head_head">ALL USERS HERE</p>
                </div>
            </header>
            <section class="List">
                <div class="tbl-header">
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Blood Group</th>
                                <th>Contact</th>
                                <th>Police Station</th>
                                <th>City</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table>
                        <tbody>
                            {% for donor in donors %}
                                <tr>
                                    <td>{{ donor.username }}</td>
                                    <td>{{ donor.name }}</td>
                                    <td>{{ donor.age }}</td>
                                    <td>{{ donor.blood_group }}</td>
                                    <td>{{ donor.contact }}</td>
                                    <td>{{ donor.police_station }}</td>
                                    <td>{{ donor.city }}</td>
                                    <td>
                                        <input class='delete' type='button' value='Delete' onclick="confirmDelete('{{ donor.username }}')">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
