<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_view.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <div id="page_wrapper">
        {% include 'admin_navbar.html' %}

        <main>
            <header>
                <div class="text">
                    <h2 class="head_tran"><span>REPORT BOX</span></h2>
                </div>
            </header>
            <section class="List">
                <div class="tbl-header">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">Reported User</th>
                                <th class="text-center">Reported By</th>
                                <th class="text-center">Report Reason</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table>
                        <tbody>
                            {% for report in reports %}
                            <tr>
                                <td class="text-center">{{ report.username }}</td>
                                <td class="text-center">{{ report.reported_by }}</td>
                                <td class="text-center">{{ report.report_box }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

        </main>


    </div>
</body>
</html>