<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_view.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <div id="page_wrapper">
        {% include 'admin_navbar.html' %}

        <main>
            <header>
                <div class="text">
                    <h2 class="head_tran"><span>CAMPAIGNS LIST</span></h2>
                    <p class="head_head">ALL CAMPAIGNS HERE</p>
                </div>
            </header>
            <section class="List">
                <div class="tbl-header">
                    <table>
                        <thead>
                            <tr>
                                <th>Campaign Venue</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table>
                        <tbody>
                            {% for campaign in campaigns %}
                            <tr>
                                <td>{{ campaign.venue }}</td>
                                <td>{{ campaign.start_date }}</td>
                                <td>{{ campaign.end_date }}</td>
                                <td>
                                    <a
                                        href="{{ campaign.location }}"
                                        target="_blank"
                                        class="text-blue-600 hover:underline"
                                    >
                                        Location of {{ campaign.venue }}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

{#            <p></br></p>#}
{#            <form action="admin_add_campaign.php" method="GET">#}
{#                <input class="add" type="submit" value="Add Campaign">#}
{#            </form>#}

        </main>



    </div>



</body>

</html>