<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
</head>

<body>
    <div class="back-button-container">
        <a href="{{ url_for('user_home') }}" class="back-button">Back to Home</a>
    </div>
    <div class="container">
        <h2><span>Change</span> Password</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post">
            <div class="changepass">
                <label for='curr'>Current Password:</label>
                <input id="curr" type="password" name="current_password" required>
            </div>
            <div class="newpass">
                <label for="new">New Password:</label>
                <input id="new" type="password" name="new_password" required>
            </div>
            <div class="confnewpass">
                <label for="conf">Confirm New Password:</label>
                <input id="conf" type="password" name="confirm_new_password" required>
            </div>
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>

</html>
